#container {
    position: relative;
    width: 640px;
    height: 480px;
}

#canvas {
    height: 100%;
    width: 100%;
}

button {
    padding: 15px;
    font-size: 30px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    /* prevent selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

button:focus {
    /* remove outline */
    outline: none;
}

.menu {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#pause {
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu h1 {
    width: 100%;
    margin-top: 100px;

    text-align: center;
    font-family: Helvetica;
    font-size: 64px;

    text-shadow: 0 0 8px black;

    /* prevent selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#levelMenu {
    /*
     We use a CSS flexbox to allow us
     to fit the level selection menu
     within the canvas.
    */
    display: flex;
    flex-direction: column;
}

.levelSelectionMenu {
    /*
     The reason we use a CSS 'calc'
     here is that a flexbox, which is
     what we are using to keep the level
     button container within the canvas,
     does not actually take into account
     margins. Therefore we do it manually.
    */
    width: calc(100% - 15px);
    margin: 15px;
    flex: 1 1 0%;
    overflow: auto;
    overflow-x: hidden;
}

.levelButton {
    min-width: 70px;
    margin: 15px 15px;
}

#pauseMenu h1 {
    color: aquamarine;
}

#gameOverMenu h1 {
    color: firebrick;
}

#winMenu h1 {
    color: lawngreen;
}

#levelMenu h1 {
    color: cadetblue;
}

.selectLevelButton {
    margin-top: 30px;
}
